* {
  margin: 0;
  padding: 0;
}

.logo-head {
  display: flex;
  gap: 0.2rem;
}

.main-logo img {
  width: 70px;
  height: 60px;
}

.icons {
  display: flex;
  justify-content: space-between;
  height: 15px;
  background-color: #d4a522;
  border-radius: 10px;
  box-shadow: 0 10px 30px #555;
  margin: 10px;
  padding: 10px;
}

.animakit {
  font-family: DynaPuff, system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.4rem;
  padding-top: 10px;
  margin-top: 10px;
}

nav {
  padding: 10px;
  display: flex;
  gap: 1rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  font-size: 0.7rem;
}

a :hover {
  background-color: #555;
  color: yellow;
}

body {
  font-size: 0.7rem;
}

.main-heading {
  background-image: url("../images/backgroud-three.jpg"), linear-gradient(#f5f4f4, #ebe1e1);
  background-size: cover;
  height: 400px;
  color: white;
}

.body-one {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 5px;
  padding-right: 5px;
}

.heading-one {
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph-one {
  margin-top: 5px;
  padding-top: 5px;
  font-size: 0.6rem;
}

.button-one {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  margin-right: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  height: 10px;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  background-image: linear-gradient(#fffb0b, #96841e);
  color: white;
}

.body-two {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  line-height: 22px;
  text-align: left;
  display: block;
}

.pharagraph-two {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ece90a;
}

.button-two {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-one {
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.section-two {
  border-bottom: 1px solid;
}

.sponsor {
  height: 15px;
  width: 30px;
  display: flex;
  gap: 2rem;
  margin: 10px;
  padding: 10px;
}

.sponsor img {
  height: 15px;
  width: 30px;
}

.section-three {
  background-image: url("../images/background-four.jpg"), linear-gradient(#ddc24a, #aa8319);
  background-size: contain;
  height: 200px;
}

.heading-two {
  margin-top: 40px;
  padding-top: 40px;
  margin-left: 5px;
  padding-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
  color: white;
}

.another {
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.pharagraph-four {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
}

.botton-three {
  margin-top: 5px;
  padding-top: 5px;
  text-align: center;
}

.section-four {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7rem;
}

.number-one {
  color: #ddc24a;
  font-size: 1rem;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.number-two {
  color: #ddc24a;
  font-size: 1rem;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.number-three {
  color: #ddc24a;
  font-size: 1rem;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.section-five {
  background-image: linear-gradient(#dfdfdb, #fff);
  display: block;
}

.heading-three {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.paragraph-three {
  font-size: 0.7rem;
  margin: 5px;
  padding: 5px;
}

.botton-four {
  margin-top: 5px;
  padding-top: 5px;
  text-align: center;
}

.three-animation {
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.three-animation img {
  margin-top: 10px;
  padding-top: 5px;
  width: 71px;
}

.heading-ani {
  margin-top: 10px;
  padding-bottom: 10px;
}

.two-animation {
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 1.4rem;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.two-animation img {
  margin-top: 10.1px;
  padding-top: 5px;
  width: 70px;
}

.heading-ani-one {
  margin-top: 10px;
  padding-bottom: 10px;
}

.branded {
  text-align: center;
  height: 200px;
  width: 221px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0.5px 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.branded img {
  margin-top: 11px;
  padding-top: 5.9px;
  width: 70px;
}

.heading-ani-two {
  margin-top: 10px;
  padding-bottom: 10px;
}

.ads-video {
  text-align: center;
  height: 201px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.ads-video img {
  margin-top: 10px;
  padding-top: 5px;
  width: 69px;
}

.heading-ani-three {
  margin-top: 10px;
  padding-bottom: 10px;
}

.production {
  text-align: center;
  height: 200px;
  width: 222px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.production img {
  margin-top: 10px;
  padding-top: 6px;
  width: 70px;
}

.heading-ani-four {
  margin-top: 10px;
  padding-bottom: 10px;
}

.movies {
  text-align: center;
  height: 200.1px;
  width: 221px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.movies img {
  margin-top: 0.5rem;
  padding-top: 5.1px;
  width: 70px;
}

.heading-ani-five {
  margin-top: 10px;
  padding-bottom: 10px;
}

.you-will {
  display: block;
}

.other-icons {
  margin: 5px;
  padding: 5px;
  align-self: auto;
  margin-left: 10px;
  padding-left: 10px;
}

.whatt img {
  width: 280px;
  height: 250px;
  margin-top: 20px;
  box-shadow: 0 2px 4px #555;
  border-radius: 5px;
}

.easysteps-boxes {
  display: block;
}

.consultation {
  display: block;
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 4px #474747;
  background-color: #d4a522;
  color: white;
}

.consultation img {
  margin-top: 10px;
  padding-top: 5.1px;
  width: 70px;
}

.easy-step-header {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #d4a522;
}

.image-five img {
  width: 300px;
  margin-left: 15px;
}

.package {
  display: block;
  text-align: center;
  height: 201px;
  width: 220px;
  justify-self: center;
  padding-top: 6px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 6px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.package img {
  margin-top: 11px;
  padding-top: 6px;
  width: 70px;
}

.productions {
  display: block;
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 26px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.productions img {
  margin-top: 11px;
  padding-top: 6px;
  width: 70px;
}

.file {
  display: block;
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.file img {
  margin-top: 10px;
  padding-top: 5px;
  width: 70px;
}

.make-world {
  background-image: url("../images/bachgroud-four.jpg");
  background-size: cover;
  height: 200px;
  text-align: center;
  color: white;
}

.makeworld-heading {
  padding-top: 50px;
  margin-top: 50px;
  font-size: 1rem;
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

.make-world p {
  margin: 5px;
  padding: 5px;
}

.customer {
  display: block;
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #555;
  background-color: #d4a522;
  color: white;
}

.customer img {
  margin-top: 10px;
  padding-top: 5.3px;
  width: 70px;
}

.ticket {
  display: block;
  text-align: center;
  height: 200px;
  width: 220px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5.1px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.ticket img {
  margin-top: 10px;
  padding-top: 5px;
  width: 70.4px;
}

.article {
  display: block;
  text-align: center;
  height: 201px;
  width: 222px;
  justify-self: center;
  padding-top: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #555;
  background-color: #d4a522;
  color: white;
}

.article img {
  margin-top: 10px;
  padding-top: 5px;
  width: 70.9px;
}

.image-six img {
  width: 300px;
  height: 300px;
}

.testimony {
  color: #aa8319;
  font-size: 1rem;
  margin-left: 10px;
}

.about-us {
  display: flex;
  gap: 4rem;
  background-image: linear-gradient(#c2c2c2, #f1f1f1);
}

.about-us img {
  width: 70px;
  height: 60px;
}

.aboutus-header {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 5px;
  padding-left: 5px;
  font-weight: 900;
  font-size: 0.8rem;
  color: #d4a522;
}

.say-one {
  margin-left: 5px;
  padding-left: 5px;
  margin-top: 10px;
  padding-top: 10px;
  display: block;
}

.say-two {
  margin-left: 5px;
  padding-left: 5px;
  margin-top: 10px;
  padding-top: 10px;
  display: block;
}

.profile-one {
  display: flex;
  gap: 1.5rem;
  margin-top: 10px;
  padding-top: 10px;
}

.profile-one img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profile-id {
  margin-top: 5px;
  padding-top: 5px;
}

.profile-two {
  display: flex;
  gap: 1.5rem;
  margin-top: 10px;
  padding-top: 10px;
}

.profile-two img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profile-id-two {
  margin-top: 5px;
  padding-top: 5px;
}
